<html>
    <head>
        <title><%= Title %></title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div id="cards">
            <!-- --------------------display cards containing details-------------- -->
            <% for(let i of contact){ %>
                <div id='each_card'>
                    <img src="/imj/pin.svg" alt="" id="pin">
                    <p id="dateInCard" class="pAlign"><img src="/imj/calendar.svg" alt=""><%= i.date %></p>
                    <p id="messageInCard" class="pAlign"><%= i.message %></p>
                    <p id='workType'><%= i.category %></p>
                    <a href="/DeleteFromList/?id=<%= i._id %>" id="deleteButton"><img src="/imj/dustbin.svg" alt="" id="deleteIcon"></a>
                </div>
            <% } %>
        </div>
        <!-- -----------------------form to take input-------------------------------  -->
        <div id="input">
            <h1>To Do List</h1>
            <form action="addToList" method="POST" id="formBox" >
                <div id="dateLabel">
                    <label for="date" >Date</label>
                    <input type="date" name="date" required id="date">
                </div>
                <p><label for="message">Things To Do</label></p>
                <textarea name="message" id="message" cols="40" rows="10" required></textarea>
                <p><label for="category">Type of work</label></p>
                <select name="category" id="category">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="other">other</option>
                </select>
                <button type="submit">ADD</button>
            </form>
        </div>
    </body>
</html>