<html>
    <head>
        <title><%= Title %></title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div id="cards">
            <% for(let i of contact){ %>
                <div id='each_card'>
                    <p><%= i.date %></p>
                    <p><%= i.message %></p>
                    <p id='workType'><%= i.category %></p>
                    <a href="/DeleteFromList/?date=<%= i._id %>">done</a>
                </div>
            <% } %>
        </div>
        <div id="input">
            <form action="addToList" method="POST" >
                <input type="date" name="date">
                <input type="text" name="message">
                <input type="text" name="category">
                <button type="submit">submit</button>
            </form>
        </div>
    </body>
</html>